*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: background-color 0.3s;
    font-family:cambria;font-size:x-large;
  }
  .dark{
    background-color: black;
    color: white;
  }
  .white{
    background-color: black;
    color: white;
  }